@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: black;
}

main {
  padding: 0rem;
}

h2 {
  padding: 1rem 0;
}

h3,
p {
  margin: 0;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 0.5rem grey;
  padding: 0.3rem;
  position: relative;
}

.ville {
  background-color: #eaeaea;
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.ville i {
  font-size: 1.3rem;
}

.explanation {
  text-align: center;
}
.explanation p {
  font-weight: 300;
  margin-top: -1rem;
  margin-bottom: 1rem;
}
.explanation button {
  border-radius: 40px;
  box-shadow: 0 4px 4px -2px gray;
  color: white;
  border: none;
  height: 3.5em;
  width: 15em;
  font-size: 15px;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  transition: opacity, 3s, ease-out, 1s;
}
.explanation button:hover {
  opacity: 0.9;
  box-shadow: 0 5px 5px -2px #000000;
}

.how_to {
  padding: 0 3rem;
  counter-reset: steps;
}
.how_to ol {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}
@media (max-width: 780px) {
  .how_to ol {
    flex-direction: column;
  }
}
.how_to li {
  position: relative;
  background-color: #eaeaea;
  padding: 1.3rem 2rem;
  flex-grow: 1;
  border-radius: 20px;
  box-shadow: 0 4px 4px -2px gray;
  transition: 0.3s;
}
.how_to li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356DC;
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: absolute;
  margin: 0;
  top: 30%;
  left: -0.8rem;
}
.how_to li:hover {
  background-color: #f5edff;
}
.how_to i {
  margin-right: 1rem;
  color: #8f8b8b;
  transition: 0.3s;
}
.how_to i:hover {
  color: #9356DC;
}

.restaurants {
  background-color: #eaeaea;
  padding: 0 3rem 5rem;
  margin-bottom: -3rem;
}
.restaurants .restaurants__carte {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media (max-width: 780px) {
  .restaurants .restaurants__carte {
    grid-template-columns: repeat(1, 1fr);
  }
}
.restaurants .restaurants__carte .new {
  position: relative;
}
.restaurants .restaurants__carte .new::before {
  content: "Nouveau";
  background-color: #99e2d0;
  color: #008766;
  position: absolute;
  left: 35rem;
  top: 1rem;
  width: 5rem;
  height: 2rem;
  font-size: 1rem;
  text-align: center;
  padding: 0.3rem 0.3rem;
}
.restaurants .carte__photo {
  height: 12rem;
  background-size: cover;
  border-radius: 15px 15px 0px 0px;
}
.restaurants .carte__photo-1 {
  background-image: url("../../images/photo-1.jpg");
}
.restaurants .carte__photo-2 {
  background-image: url("../../images/photo-2.jpg");
}
.restaurants .carte__photo-3 {
  background-image: url("../../images/photo-3.jpg");
}
.restaurants .carte__photo-4 {
  background-image: url("../../images/photo-4.jpg");
}
.restaurants .carte__description {
  position: relative;
  background-color: white;
  border-radius: 0px 0px 15px 15px;
}
.restaurants .carte__description h3,
.restaurants .carte__description p {
  padding: 0.5rem;
}
.restaurants .carte__description p {
  margin-top: -0.5rem;
}
.restaurants .carte__description i {
  font-size: 1.8rem;
  position: absolute;
  right: 1rem;
  top: 1.5rem;
}
.restaurants .carte__description .animate {
  opacity: 0;
  font-family: FontAwesome;
  color: transparent;
  background-image: linear-gradient(45deg, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 0.3s ease-in-out;
}
.restaurants .carte__description:hover .animate {
  opacity: 1;
}

footer {
  background-color: #353535;
  padding: 0 1rem 1rem;
}
footer h2 {
  color: white;
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  padding-top: 1rem;
}
footer p {
  color: white;
  padding: 0.4rem;
}

/*# sourceMappingURL=style.css.map */
