@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap');

*,
::before,
::after {
    box-sizing: border-box;


}

body {
    margin: 0px;
    font-family:"Roboto", sans-serif;
}

header {
    font-family:"Shrikhand", cursive;
    text-align:center;
    box-shadow: 0 0 0.5rem grey;
    padding: 0.3rem;
    position: relative;
}

main .ville {

    background-color: #eaeaea;
    padding: 0.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

main  .ville i {

    font-size: 1.3rem;

}