@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: black;
}

main {
  padding: 0rem;
}

h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

header {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0 0 0.5rem grey;
  padding: 0.3rem;
  position: relative;
}

.ville {
  background-color: #eaeaea;
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.ville i {
  font-size: 1.3rem;
}

/**@mixin arrow-left {

    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
    content: "\f060";
    font-size: 1.5rem;
    position: absolute;
    color: #353535;


          }**/
@keyframes in {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes checkspin {
  from {
    transform: rotate(-280deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes fadein {
  to {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes bounce-1 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}
@keyframes bounce-2 {
  from {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes bounce-3 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-20px);
  }
}
.explanation {
  background-color: #f6f6f6;
  text-align: center;
  padding-bottom: 3rem;
}
.explanation h2 {
  padding: 1.5rem;
}
.explanation p {
  font-weight: 300;
  margin-top: -1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
.explanation button {
  border-radius: 40px;
  box-shadow: 0 4px 4px -2px gray;
  color: white;
  border: none;
  height: 3.5em;
  width: 15em;
  font-size: 15px;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  transition: opacity, 3s, ease-out, 1s;
}
.explanation button:hover {
  opacity: 0.8;
  box-shadow: 0 5px 5px -2px #000000;
  cursor: pointer;
}

.how_to {
  padding: 0 5rem;
  counter-reset: steps;
}
.how_to h2 {
  padding: 1.5rem 0rem;
}
.how_to ol {
  display: flex;
  gap: 2rem;
  list-style-type: none;
  padding-bottom: 2rem;
}
@media (max-width: 780px) {
  .how_to ol {
    flex-direction: column;
  }
}
.how_to li {
  position: relative;
  background-color: #f6f6f6;
  padding: 1.3rem 2rem;
  flex-grow: 1;
  border-radius: 20px;
  box-shadow: 0 4px 4px -2px gray;
  transition: 0.3s;
}
.how_to li::before {
  content: counter(steps);
  counter-increment: steps;
  color: #ffffff;
  background-color: #9356DC;
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  position: absolute;
  margin: 0;
  top: 30%;
  left: -0.8rem;
}
.how_to li i {
  margin-right: 1rem;
  color: #8f8b8b;
  transition: 0.3s;
}
.how_to li:hover {
  background-color: #f5edff;
}
.how_to li:hover i {
  color: #9356DC;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 0 3rem 5rem;
  margin-bottom: -3rem;
}
.restaurants h2 {
  padding: 1.5rem 0rem;
}
.restaurants .restaurants__carte {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  position: relative;
}
@media (max-width: 780px) {
  .restaurants .restaurants__carte {
    grid-template-columns: repeat(1, 1fr);
  }
}
.restaurants .new {
  background-color: #99e2d0;
  color: #008766;
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 1rem;
  text-align: center;
  padding: 0.3rem 0.3rem;
}
.restaurants .carte__photo {
  height: 12rem;
  background-size: cover;
  border-radius: 15px 15px 0px 0px;
  position: relative;
}
.restaurants .carte__photo-1 {
  background-image: url("../../images/photo-1.jpg");
}
.restaurants .carte__photo-2 {
  background-image: url("../../images/photo-2.jpg");
}
.restaurants .carte__photo-3 {
  background-image: url("../../images/photo-3.jpg");
}
.restaurants .carte__photo-4 {
  background-image: url("../../images/photo-4.jpg");
}
.restaurants .carte__description {
  position: relative;
  background-color: #ffffff;
  border-radius: 0px 0px 15px 15px;
}
.restaurants .carte__description h3,
.restaurants .carte__description p {
  padding: 0.5rem;
}
.restaurants .carte__description p {
  margin-top: -0.5rem;
  padding-bottom: 1.5rem;
}
.restaurants .carte__description i {
  font-size: 1.8rem;
  position: absolute;
  right: 1rem;
  top: 1.5rem;
}
.restaurants .carte__description .animate {
  opacity: 0;
  font-family: FontAwesome;
  color: transparent;
  background-image: linear-gradient(45deg, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 0.3s ease-in-out;
}
.restaurants .carte__description:hover .animate {
  opacity: 1;
}

footer {
  background-color: #353535;
  padding: 0 1rem 1rem;
}
footer h2 {
  color: #ffffff;
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  padding-top: 1rem;
}
footer p {
  color: white;
  padding: 0.4rem;
}

#restaurant-body header {
  position: relative;
}
#restaurant-body header i {
  font-size: 1.5rem;
  position: absolute;
  color: #353535;
  left: 2rem;
  top: 1rem;
}
#restaurant-body .banner {
  width: 100%;
  height: 40vh;
  object-fit: cover;
  object-position: top;
}
#restaurant-body .menu_main {
  margin-top: -3rem;
  padding-bottom: 3rem;
  position: relative;
  background-color: #eaeaea;
  border-radius: 40px 40px 0px 0px;
}
#restaurant-body .menu_top {
  position: relative;
}
#restaurant-body .menu_top h2 {
  font-family: "Shrikhand", "cursive";
  padding: 1.5rem;
}
#restaurant-body .menu_top i {
  font-size: 1.9rem;
  position: absolute;
  right: 2rem;
  top: 1.3rem;
}
#restaurant-body .menu_top .animate {
  opacity: 0;
  font-family: FontAwesome;
  color: transparent;
  background-image: linear-gradient(45deg, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
#restaurant-body .menu_top:hover .animate {
  opacity: 1;
}
#restaurant-body .menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 800px) {
  #restaurant-body .menu {
    grid-template-columns: repeat(1, 1fr);
  }
}
#restaurant-body .menu .menu_grille {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 1rem;
  gap: 1rem;
  padding: 1rem;
}
#restaurant-body h3 {
  text-transform: uppercase;
  font-weight: 100;
  position: relative;
}
#restaurant-body h3::after {
  content: "";
  position: absolute;
  height: 0.2rem;
  width: 3rem;
  top: 1.5rem;
  left: 0rem;
  background-color: #99e2d0;
}
#restaurant-body .menu__categorie {
  background: #ffffff;
  border-radius: 1rem 1rem 1rem 1rem;
  box-shadow: 0 4px 4px -2px gray;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  animation: in 1000ms ease-in-out;
}
#restaurant-body .menu__categorie .menu-dish {
  display: flex;
  white-space: nowrap;
}
#restaurant-body .menu__categorie .menu-dish .dish__description {
  padding: 1rem;
  overflow: hidden;
}
#restaurant-body .menu__categorie .menu-dish .dish__description h4,
#restaurant-body .menu__categorie .menu-dish .dish__description p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#restaurant-body .menu__categorie .menu-dish .price {
  margin-left: auto;
  font-weight: 700;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}
#restaurant-body .menu__categorie .menu-dish .dish__select {
  background: #99e2d0;
  color: #ffffff;
  border-radius: 0 1rem 1rem 0rem;
  width: 4rem;
  margin-right: -4rem;
  transition: margin 0.5s ease-in-out;
  display: grid;
  place-items: center;
  flex-shrink: 0;
}
#restaurant-body .menu__categorie .menu-dish .fa-circle-check {
  font-size: 2rem;
}
#restaurant-body .menu__categorie .menu-dish:hover {
  cursor: pointer;
}
#restaurant-body .menu__categorie .menu-dish:hover .dish__select {
  margin-right: 0;
}
#restaurant-body .menu__categorie .menu-dish:hover i {
  animation: checkspin 0.8s ease-in-out;
}

.commander {
  display: grid;
  place-items: center;
  height: 15vh;
}
.commander button {
  border-radius: 40px;
  box-shadow: 0 4px 4px -2px gray;
  color: white;
  border: none;
  height: 3.5em;
  width: 15em;
  font-size: 15px;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  transition: opacity, 3s, ease-out, 1s;
}
.commander button:hover {
  opacity: 0.8;
  box-shadow: 0 5px 5px -2px #000000;
  cursor: pointer;
}

.loading {
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: center;
  gap: 1rem;
  place-items: center;
  font-size: 3rem;
  background-color: #ffffff;
  height: 100vh;
  inset: 0;
  opacity: 0.97;
  animation: fadein 2s 2s ease-in-out forwards;
}
.loading .fa-bacon {
  color: #FF79DA;
  animation: bounce-1 0.35s ease infinite alternate;
}
.loading .fa-burger {
  color: #99e2d0;
  animation: bounce-2 0.35s ease infinite alternate;
}
.loading .fa-ice-cream {
  color: #9356DC;
  animation: bounce-3 0.35s ease infinite alternate;
}

/*# sourceMappingURL=style.css.map */
