@use "../utils/mix.scss";

.explanation {

    text-align:center;

    & p {

    font-weight:300;
    margin-top: -1rem;
    margin-bottom: 1rem;
    }

    & button {

    
    @include mix.button;
    }

    & button:hover {

    opacity: 0.8;
    box-shadow: 0 5px 5px -2px #000000;
    cursor: pointer;
    
    }

 
}