@use "../utils/couleurs.scss";

footer {
    background-color: couleurs.$darkgrey;
    padding: 0 1rem 1rem;

    & h2 {
        color: couleurs.$white;
        font-family:"Shrikhand", cursive;
        font-weight: 500;
        padding-top:  1rem
    }

    & p {
        color: white;
        padding: 0.4rem;
    }


}