@use "../utils/couleurs.scss";
@use "../utils/gradient.scss";

.restaurants {

    background-color: couleurs.$lightgrey;
    padding: 0 3rem 5rem;
    margin-bottom: -3rem;


    & .restaurants__carte {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @media (max-width:780px) {
            grid-template-columns: repeat(1, 1fr);  
        }
        gap: 2rem;
        
        .new {
    
            position: relative;
        }
        .new::before {
            content: "Nouveau";
            background-color: couleurs.$turquoise;
            color: couleurs.$green;
            position: absolute;
            left: 35rem;
            top: 1rem;
            width: 5rem;
            height: 2rem;
            font-size: 1rem;
            text-align: center;
            padding: 0.3rem 0.3rem;        
        }
    }

    & .carte {

        &__photo {
            height: 12rem;
            background-size: cover;
            border-radius: 15px 15px 0px 0px;

        }
        
        @for $i from 1 through 4 {
            &__photo-#{$i}{
                background-image: url("../../images/photo-#{$i}.jpg");
            }
        }

        &__description {
            position: relative;
            background-color: white;
            border-radius: 0px 0px 15px 15px;

            h3,
            p {
                padding: 0.5rem;
            }

            p{
                margin-top: -0.5rem;
            }
            i {
                font-size: 1.8rem;
                position: absolute;
                right: 1rem;
                top: 1.5rem;
                
            }

            .animate {

                opacity: 0;
                font-family: FontAwesome;
                color: transparent;
                @include gradient.gradient;
                background-clip: text;
                -webkit-background-clip: text;
                transition: all 0.3s ease-in-out;

            }

            &:hover .animate {
                opacity: 1;
                
            }
        }
        
    }
}